* {
    box-sizing: border-box;
}

.header-flex-margin {
    display: flex;
    justify-content: space-between;
    margin: 0px 15px 0px 15px;
    font-size: 25px;
}

.quiz-flexbox-attritbutes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hide {
    display: none;
}
.show {
    display: block;
}
.flex {
    display: flex;
    margin: 0 auto;
    border: 1px solid black;
    justify-content: center;
}

#submit-score {
    background-color: #820082;
    color: #ffffff;
    margin-left: 15px;
}

.answer-box {
    background-color: #2a0095;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
    width: 225px;
    height: 50px;
    color: white;
  }
li {
    font-size: 24px;
  }

.flex #question {
    font-size: 50px;
    color: blue;
}

.buttons {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#b1, #b2, #b3,  #b4 {
    background-color:#2a0095;
    width: 250px;
    font-size: 20px;
    color: white;
    border: 1px solid #ccc;
    padding: 15px 15px;
    margin: 20px;

}

#b1:hover, #b2:hover, #b3:hover,  #b4:hover {
    curser: pointer;
    background-color: pink;
}

#back-button {
    margin-bottom: 50px;
}

#correct-answer-display,
#wrong-answer-display {
    border-top: 3px solid grey;
    
}
.dynamic-answering {
 display: flex;
 justify-content: center;
 flex-direction: column;
 align-items: center;

}
#correct-answer-display p,
#wrong-answer-display p {
  font-size: 30px;
}