* {
    box-sizing: border-box;
}

.header-flex-margin {
    display: flex;
    justify-content: space-between;
    margin: 0px 15px 0px 15px;
    font-size: 25px;
}

.quiz-flexbox-attritbutes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hide {
    display: none;
}
.show {
    display: block;
}
.flex {
    display: flex;
}

#submit-score {
    background-color: #820082;
    color: #ffffff;
    margin-left: 15px;
}

.answer-box {
    background-color: #2a0095;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
    width: 225px;
    height: 50px;
    color: white;
  }
  
